.link-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: #4875b7;
  font-size: 15px;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    opacity: 0.8;
  }

  &.disabled {
    color: #bcbcbc;
    cursor: not-allowed;
    pointer-events: none;
  }
}
