::ng-deep .col-12 app-button button {
  width: 100%;
}

.password {
  margin-bottom: 22px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;

  app-error {
    text-align: left;
  }

  app-input {
    width: 100%;
  }
}
