::ng-deep .col-12 app-button button {
  width: 100%;
}

.login-box-outer {
  width: 100%;
}

.password {
  margin-bottom: 22px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;  

  app-error {
    text-align: left;
  }

  app-input {
    width: 100%;
  }
}

.input-wrapper.forgot-password {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.login-links {
  display: flex;
  flex-direction: column;
  gap: 1rem; // replaces <br>
  margin-top: 2rem;

  p {
    margin: 0;
    color: #333;
    font-size: 0.95rem;
  }

  app-link-button {
    margin-left: 0.5rem;
  }
}
