::ng-deep .col-12 app-button button {
  width: 100%;
}

.login-box-outer {
  width: 100%;
}

.password {
  margin-bottom: 22px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;

  app-error {
    text-align: left;
  }

  app-input {
    width: 100%;
  }
}

.input-wrapper.forgot-password {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
