::ng-deep .custom-input {
  .mat-mdc-form-field-bottom-align {
    display: none !important;
  }

  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: #b8bfcb !important;
  }

  &:hover {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: #2d61ac !important;
    }
  }

  .mdc-text-field--focused {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: #2d61ac !important;
      border-width: 1px !important;
    }
  }

  .mat-mdc-text-field-wrapper {
    height: 46px !important;
    display: flex;
    align-items: center;
  }
  .mat-mdc-text-field-wrapper
    .mat-mdc-form-field-flex
    .mat-mdc-floating-label:not(.mdc-floating-label--float-above) {
    top: 50% !important;
  }
  .mdc-floating-label--float-above {
    top: 20px !important;
  }

  mat-form-field {
    min-width: 200px;
    width: 100%;
  }
  mat-icon {
    color: #30343c80;
  }
}

::ng-deep .custom-input.readonly {
  .mat-mdc-text-field-wrapper {
    cursor: not-allowed;
    opacity: 0.7;
  }

  input.mat-mdc-input-element {
    color: rgba(0, 0, 0, 0.38);
    background-color: transparent;
    cursor: not-allowed;
  }

  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: rgba(0, 0, 0, 0.12) !important;
  }
  mat-label {
    color: #676d79;
  }
}
