.custom-file-input {
  .mat-mdc-form-field-bottom-align {
    display: none !important;
  }

  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: #b8bfcb !important;
  }

  &:hover {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: #2d61ac !important;
    }
  }

  .mdc-text-field--focused {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: #2d61ac !important;
      border-width: 1px !important;
    }
  }

  .mat-mdc-text-field-wrapper {
    height: 46px !important;
    display: flex;
    align-items: center;
  }

  .mat-mdc-form-field-flex
    .mat-mdc-floating-label:not(.mdc-floating-label--float-above) {
    top: 50% !important;
  }

  .mdc-floating-label--float-above {
    top: 20px !important;
  }

  mat-icon.upload-icon {
    cursor: pointer;
    color: #2d61ac;
    transition: 0.2s ease;

    &:hover {
      color: #1e4c8a;
    }
  }
}
